.content {
  @apply flex flex-col items-center relative;

}

.floor {
  position: absolute;
  top: 20px;
  right: 15px;
}

.floorItem {
  width: 25px;
  height: 25px;
  font-size: 11px;
  line-height: 25px;
  background-color: #AD0E76;
  @apply text-white cursor-pointer rounded-full font-bold text-center mb-2 hover:bg-red-400;
}

.image {
  @apply mt-9 mb-5 h-48 w-48 bg-gray-200 rounded-full text-center overflow-hidden;
}

.info {
  color: #AD0E764D;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.name {
  font-size: 36px;
  font-weight: 700;
  color: #AD0E76;
  line-height: 52px;
  font-family: Noto Serif TC;
}

.slogan {
  color: #AD0E76;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 14px;
  font-family: Noto Serif TC;
}

.policy {
  font-weight: 400;
  color: #884571;
  line-height: 25px;
  @apply text-lg px-10 lg:max-w-xl;
}