main > .wrapper > .title {
  color: #AD0E76;
  font-family: 'Noto Serif TC', serif;
  @apply text-center text-3xl font-medium font-semibold py-10;
}

main > .wrapper > .neighborList {
  @apply w-full grid gap-4 gap-y-16 lg:grid-cols-3 sm:grid-cols-2 max-w-4xl mx-auto;
}

main > .wrapper > .neighborList > .neighbor {
  @apply text-center;
}

main > .wrapper > .neighborList > .neighbor > .image {
  @apply w-max mx-auto rounded-full overflow-hidden w-48 h-48;
}

main > .wrapper > .neighborList > .neighbor > .name {
  color: #AD0E76;
  font-family: 'Noto Serif TC', serif;
  @apply text-4xl font-semibold pt-4;
}

main > .wrapper > .neighborList > .neighbor > .name > .sn {
  @apply border-2 rounded-full border-gray-900 w-11 h-11 mr-2 inline-flex justify-center items-center pb-1;
  border-color: #AD0E76;
}

main > .wrapper > .neighborList > .neighbor > .name:before {
  font-family: serif;
  content: attr(data-candidate) '候選人';
  @apply opacity-30 uppercase block text-xl tracking-normal;
}

main > .wrapper > .neighborList > .neighbor > .name:after {
  content: attr(data-slogan);
  @apply text-2xl block font-bold tracking-normal;
}

main > .wrapper > .neighborList > .neighbor > a {
  font-family: serif;
  @apply text-gray-500 underline font-semibold text-lg;
}
